.header-container {
  width: 100%;
  height: 100px;
  background-color: #a914ce91;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 5px;
    margin-left: 60px;
    margin-right: 100px;
    cursor: pointer;
  }
  .logout {
    font-size: 30px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 3px;
    margin-right: 10px;
    cursor: pointer;
  }
}
