:host {
  .container {
    display: flex;
    justify-content: center;
  }

  .title {
    padding: 35px;
    font-size: 200%;
    color: #460a06;
    display: flex;
    justify-content: center;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .login {
    font-size: 150%;
    padding: 25px;
    color: #460a06;
    display: flex;
    justify-content: center;
  }

  .input {
    font-size: 130%;
    color: #460a06;
    display: flex;
    justify-content: center;
  }
}

.example-form {
  min-width: 50px;
  max-width: 300px;
  width: 50%;
}

.example-full-width {
  width: 100%;
}
