:host {
  .container {
    display: flex;
    justify-content: center;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 800px;
    margin: 2px auto 60px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    // background: #c841dd1a;
    border-radius: 50px;
    //box-shadow: 0 4px 8px rgba(135, 11, 151, 0.632);
  }

  .title {
    padding: 10px;
    font-size: 200%;
    color: #460a06;
    display: flex;
    justify-content: center;
  }

  .login {
    font-size: 150%;
    padding: 20px;
    color: #460a06;
    display: flex;
    justify-content: center;
  }

  .input {
    font-size: 150%;
    color: #460a06;
    display: flex;
    justify-content: center;
  }
}

.example-form {
  min-width: 50px;
  max-width: 300px;
  width: 50%;
}

.example-full-width {
  width: 100%;
}
