<app-header></app-header>
<div class="book-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Book Name: {{ book?.title }}</mat-card-title>
      <mat-card-subtitle><b>Author: </b> {{ book?.author }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ book?.imageLink }}" style="height: 400px" />
    <div class="book-grid">
      <mat-card-content>
        <p><b>User Name:</b> {{ book?.userDisplayName }}</p>
        <br />
        <p><b>Review:</b> {{ book?.review }}</p>
      </mat-card-content>
    </div>

    <mat-card-actions>
      <button mat-icon-button color="warn" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>

    <div class="rating-form">
      <form [formGroup]="commentForm">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Write your comment here</mat-label>
            <textarea
              matInput
              placeholder="comments about the book..."
              formControlName="comment"
            ></textarea>
          </mat-form-field>
        </div>
      </form>
      <div class="btn-container">
        <button
          mat-raised-button
          mat-button
          color="primary"
          style="margin-right: 50px"
          (click)="saveComment()"
        >
          Submit
        </button>
      </div>

      <div class="comment-title"><b>All Comments Here</b></div>
      <div class="comment-box" *ngFor="let rev of book?.comments">
        <div class="book-card">
          <b> Name: </b>{{ rev.userDisplayName }}
          <br />
          <b> Comments: </b>{{ rev.comment }}
        </div>
        <div class="book-iteam"></div>
      </div>
    </div>
  </mat-card>
</div>
