:host {
  .container {
    display: flex;
    justify-content: center;
  }

  .title {
    padding: 75px;
    font-size: 400%;
    color: #370c9b;
    display: flex;
    justify-content: center;
  }

  .login {
    font-size: 300%;
    padding: 15px;
    color: #370c9b;
    display: flex;
    justify-content: center;
  }

  .input {
    font-size: 130%;
    color: #5e0903;
    display: flex;
    justify-content: center;
  }
}

.example-form {
  min-width: 50px;
  max-width: 300px;
  width: 50%;
}

.example-full-width {
  width: 100%;
}
