<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body background="/assets/img/bg5.jpg">
    <div>
      <form class="form" [formGroup]="signupForm">
        <div>
          <div>
            <div class="title">
              <P>
                <b>Welcome To Movie Review</b>
              </P>
            </div>
            <div class="login">
              <P>
                <b> Sign Up</b>
              </P>
            </div>
            <div class="input">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Full Name</mat-label>
                  <input matInput type="text" formControlName="name" />
                </mat-form-field>
              </div>
            </div>
            <div class="input">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label><label for="pword">Email</label></mat-label>
                  <input matInput type="text" formControlName="email" />
                </mat-form-field>
              </div>
            </div>
            <div class="input">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input matInput type="text" formControlName="password" />
                </mat-form-field>
              </div>
            </div>
            <div class="input">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="passwordConfirm"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="input">
              <a
                mat-raised-button
                mat-button
                color="primary"
                (click)="register()"
                >Submit</a
              >
            </div>
            <div>
              <br />
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
