<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body background="/assets/img/bg5.jpg">
    <form class="form">
      <div>
        <div>
          <div class="title">
            <P>
              <b>Welcome To Movie Review</b>
            </P>
          </div>
          <div class="login">
            <P>
              <b> Sign Up</b>
            </P>
          </div>
          <div class="input">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Full Name</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </form>
          </div>
          <div class="input">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="emailFormControl"
                  placeholder="Ex. pat@example.com"
                />
                @if (emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                } @if (emailFormControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
                }
              </mat-form-field>
            </form>
          </div>
          <div class="input">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </form>
          </div>
          <div class="input">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </form>
          </div>
          <div class="input">
            <!-- <button mat-stroked-button type="submit">Log In</button> -->
            <a mat-raised-button mat-button color="primary" routerLink=""
              >Submit</a
            >
          </div>
          <div>
            <br />
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
