.task-form {
  margin-inline: 100px;
  margin-block: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(100%, 300px);
}
.toggle-group {
  max-width: min-content;
}
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.shundor {
  display: flex;
  justify-content: center;
}
.input {
  font-size: 140%;
  color: #624689;
  display: flex;
  justify-content: center;
}
