<app-header></app-header>
<div class="home-container">
  <div class="all-books">
    <div class="trending-books">
      <div class="top">
        <h4>Book List</h4>
      </div>
      <div class="books-thumbnail">
        <div class="book" *ngFor="let book of trendingBooks">
          <div class="cover" (click)="goToBook('books', book.title)">
            <img [src]="book.imageLink" alt="" />
          </div>
          <div class="detail">
            <div class="name" (click)="goToBook('books', book.title)">
              {{ book.title }}
            </div>
            <div class="name" (click)="goToBook('books', book.author)">
              Author:
              {{ book.author }}
            </div>
            <div class="name" (click)="goToBook('books', book.year)">
              Year:
              {{ book.year }}
            </div>
            <div class="name" (click)="goToBook('books', book.language)">
              Language:
              {{ book.language }}
            </div>
            <div class="rating">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span
                  >&hearts;
                </span>
              </ng-template>

              <ngb-rating
                [(rate)]="book.rating"
                [starTemplate]="t"
                [readonly]="true"
                [max]="5"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
