<app-header></app-header>
<div class="home-container">
  <div class="all-books">
    <div class="trending-books">
      <div class="top">
        <h4>Book List</h4>
      </div>
      <div class="books-thumbnail">
        <div class="book" *ngFor="let book of trendingBooks">
          <div class="cover" (click)="goToBook('books', book._id)">
            <img [src]="book.imageLink" alt="" />
          </div>
          <div class="detail">
            <div class="name" (click)="goToBook('books', book.title)">
              {{ book.title }}
            </div>
            <div class="name" (click)="goToBook('books', book.catagory)">
              Catagory:
              {{ book.catagory }}
            </div>
            <div class="name" (click)="goToBook('books', book.author)">
              Author:
              {{ book.author }}
            </div>
            <div class="name" (click)="goToBook('books', book.language)">
              Language:
              {{ book.language }}
            </div>
            <div class="name" (click)="goToBook('books', book.year)">
              Year:
              {{ book.year | date : "longDate" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
